* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #005f77;
    border-radius: 3px;
}

body {
    font-family: sans-serif;
    color: #a3c2e0;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    height: 100%;

    /* Background pattern sourced from Uiverse.io
       Original creator: qhns3
       https://uiverse.io/qhns3/stupid-lizard-4 */

    background: #000000;
    --gap: 5em;
    --line: 1px;
    --color: rgba(255, 255, 255, 0.1);

    background-image:
        linear-gradient(
            -90deg,
            transparent calc(var(--gap) - var(--line)),
            var(--color) calc(var(--gap) - var(--line) + 1px),
            var(--color) var(--gap)
        ),
        linear-gradient(
            0deg,
            transparent calc(var(--gap) - var(--line)),
            var(--color) calc(var(--gap) - var(--line) + 1px),
            var(--color) var(--gap)
        );
    background-size: var(--gap) var(--gap);
}

/* Scanline effect inspired by work from meduzen (Mhedi)
   Originally published on CodePen, modified for this page
   https://codepen.io/meduzen/pen/zxbwRV */

.scanlines {
    pointer-events: none;
    position: fixed;
    inset: 0;
    z-index: 20;
}

.scanlines::before,
.scanlines::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
}

/* Static scanline pattern */
.scanlines::after {
    background: linear-gradient(
        to bottom,
        transparent 50%,
        rgba(0, 0, 0, 0.1) 51%
    );
    background-size: 10% 8px;
    animation: scan-static 1s steps(24) infinite;
}

.scanlines::before {
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, 0.06);
    animation: scan-move 6s linear infinite;
}

/* Keyframes */
@keyframes scan-static {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(4px);
    }
}

@keyframes scan-move {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(200%);
    }
}

.wrapper {
    display: grid;
    grid-template-columns: 250px repeat(2, 1fr) 300px;
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
    height: 100vh;
    padding: 20px;
    margin: 0 auto;
}

.sidePanel,
.topPanel,
.mainPanel,
.rightPanel {
    background: rgba(13, 20, 30, 0.85);
    border: 1px solid rgba(0, 204, 255, 0.15);
    padding: 1.5rem;
    position: relative;

    clip-path: polygon(
        20px 0,
        100% 0,
        100% calc(100% - 20px),
        calc(100% - 20px) 100%,
        0 100%,
        0 20px
    );

    transform: translateZ(0);
}

.sidePanel,
.topPanel,
.mainPanel,
.leftPanel {
    background: rgba(13, 20, 30, 0.85);
    border: 1px solid rgba(0, 204, 255, 0.3);
    box-shadow: 0 0 15px rgba(0, 204, 255, 0.1);
}

/* ======= Side Panel =======*/

.sidePanel {
    grid-row: span 5 / span 5;
    display: flex;
    flex-direction: column;
}

.sidePanel ul {
    list-style: none;
    margin-top: 2rem;
}

.sidePanel a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s;
    font-weight: 500;
}

.sidePanel li:hover {
    border-bottom: 1px solid #a3c2e0;
    padding-left: 10px;
}
.sidePanel li:hover a {
    color: #fff;
    text-shadow: 0 0 5px #a3c2e0;
}
.sidePanel li.active a {
    color: #a3c2e0;
}

/* ======= Top Panel =======*/

.topPanel {
    grid-column: span 3 / span 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid #00ccff;
}

.logo {
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: -1px;
    color: #fff;
    text-shadow: 0 0 10px #00ccff;
}

.mission-title {
    font-size: 1.4rem;
    text-align: center;
}

.time {
    margin-right: 5px;
    font-size: 0.8rem;
}

.time ul {
    list-style: none;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* ======= Main Panel =======*/

.mainPanel {
    grid-column: 2 / span 2;
    grid-row: 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 2;
    overflow-y: auto;
}

.main-header {
    border-bottom: 1px solid #00ccff;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main-text {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    text-align: justify;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.card {
    background: rgba(0, 204, 255, 0.05);
    border: 1px solid rgba(0, 204, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    transition: 0.3s;
    line-height: 1.4;
    color: #a3c2e0;
}

.card:hover {
    background: rgba(0, 204, 255, 0.15);
    border: 1px solid #00ccff;
    box-shadow: 0 0 10px rgba(0, 204, 255, 0.4);
    cursor: pointer;
    transform: scale(1.02);
}

.card.priority {
    background: rgba(255, 102, 0, 0.1);
    border: 1px solid #ff6600;
    color: #fff;
    grid-column: span 2;
}

.card.priority:hover {
    background: rgba(255, 102, 0, 0.2);
    border: 1px solid #ff6600;
    box-shadow:
        0 0 25px #ff6600,
        0 0 5px rgba(255, 255, 255, 0.7);
}

.mission-tittle-card {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 5px;
    text-shadow: 0 0 3px rgba(0, 204, 255, 0.5);
}

/* ======= Right Panel =======*/

.rightPanel {
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 2;
}

.rightPanel h3 {
    margin-bottom: 1rem;
}

.squad-member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    padding-bottom: 5px;
    border-bottom: 1px dashed rgba(163, 194, 224, 0.2);
}

.member-info,
.member-status {
    flex: 1 1 0;
}

.member-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(45deg, #00ccff, #a3c2e0);
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0, 204, 255, 0.5);
    overflow: hidden;
    flex-shrink: 0;
}

.member-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.member-info {
    display: flex;
    flex-direction: column;
}

.member-class {
    font-size: 0.8rem;
    color: #00ccff;
}

.member-status {
    font-weight: 700;
    font-size: 0.9rem;
    padding: 3px 8px;
    border-radius: 3px;
    border: 1ps solid transparent;
    text-align: right;
}
