* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #005f77;
    border-radius: 3px;
}

body {
    font-family: sans-serif;
    background-image:
        linear-gradient(rgba(5, 7, 10, 0.7), rgba(5, 7, 10, 0.7)),
        url(https://media.contentapi.ea.com/content/dam/masseffect/common/me-section-bg-galaxy-background-xl.jpg.adapt.320w.jpg);
    background-size: cover;
    background-position: center;
    color: #a3c2e0;
    overflow: hidden;
    height: 100vh;
}

.wrapper {
    display: grid;
    grid-template-columns: 250px repeat(2, 1fr) 280px;
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
    height: 100vh;
    padding: 20px;
    margin: 0 auto;
}

.sidePanel,
.topPanel,
.mainPanel,
.rightPanel {
    background: rgba(13, 20, 30, 0.85);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 204, 255, 0.15);
    box-shadow: 0 0 15px rgba(0, 204, 255, 0.05);
    padding: 1.5rem;
    position: relative;

    clip-path: polygon(
        20px 0,
        100% 0,
        100% calc(100% - 20px),
        calc(100% - 20px) 100%,
        0 100%,
        0 20px
    );
}

.sidePanel,
.topPanel,
.mainPanel,
.leftPanel {
    background: rgba(13, 20, 30, 0.85);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 204, 255, 0.3);
    box-shadow: 0 0 15px rgba(0, 204, 255, 0.1);
}

/* ======= Side Panel =======*/

.sidePanel {
    grid-row: span 5 / span 5;
    display: flex;
    flex-direction: column;
}

.sidePanel ul {
    list-style: none;
    margin-top: 2rem;
}

.sidePanel a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s;
    font-weight: 500;
}

.sidePanel li:hover {
    border-bottom: 1px solid #a3c2e0;
    padding-left: 10px;
}
.sidePanel li:hover a {
    color: #fff;
    text-shadow: 0 0 5px #a3c2e0;
}
.sidePanel li.active a {
    color: #a3c2e0;
}

/* ======= Top Panel =======*/

.topPanel {
    grid-column: span 3 / span 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid #00ccff;
}

.logo {
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: -1px;
    color: #fff;
    text-shadow: 0 0 10px #00ccff;
}

.mission-title {
    font-size: 1.4rem;
    text-align: center;
}

.time {
    margin-right: 5px;
    font-size: 0.8rem;
}

.time ul {
    list-style: none;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* ======= Main Panel =======*/

.mainPanel {
    grid-column: 2 / span 2;
    grid-row: 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 2;
    overflow-y: auto;
}

.main-header {
    border-bottom: 1px solid #00ccff;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main-text {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    text-align: justify;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.card {
    background: rgba(0, 204, 255, 0.05);
    border: 1px solid rgba(0, 204, 255, 0.2);
    display: flex;
    align-items: center;
    padding: 10px;
    transition: 0.3s;
}

.card:hover {
    background: rgba(0, 204, 255, 0.15);
    border: 1px solid #00ccff;
    cursor: pointer;
}

/* ======= Right Panel =======*/

.rightPanel {
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 2;
}

.rightPanel h3 {
    margin-bottom: 1rem;
}

.squad-member {
    margin-bottom: 1.5rem;
}
